body {
  background: url('./images/background.jpg')
    no-repeat
    center
    center
    fixed;
  background-size: cover;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Frame {
  height: 500px;
  width: 400px;
  position: relative;
  border: solid thin #6b3101;
  border-radius: 30px;
  font-family: 'Pangolin', cursive;
  color: rgba(255, 255, 255, 0.6);
  background-color: #773a06;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.modal-hidden {
  visibility: hidden;
}

.Modal {
  position: absolute;
  z-index: 1;
}

.Choice {
  height: 350px;
  width: 362px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
}

.XO-buttons {
  display: flex;
  flex-direction: row;
}

.XO {
  margin: 10px;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

button:hover {
  outline: dotted;
}

.Chalkboard {
  height: 480px;
  width: 380px;
  border: solid thin #10351c;
  border-radius: 30px;
  background-color: #1a582e;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.5);
  box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.gradient {
  background: rgba(66,107,68,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(66,107,68,1) 0%, rgba(8,58,10,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(66,107,68,1)), color-stop(100%, rgba(8,58,10,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(66,107,68,1) 0%, rgba(8,58,10,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(66,107,68,1) 0%, rgba(8,58,10,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(66,107,68,1) 0%, rgba(8,58,10,1) 100%);
  background: radial-gradient(ellipse at center, rgba(66,107,68,1) 0%, rgba(8,58,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426b44', endColorstr='#083a0a', GradientType=1 );
}

.Heading {
  font-size: 40px;
  margin: 13px;
}

.Game {
  height: 362px;
  width: 362px;
  margin-bottom: 15px;
}

.Row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.row-bottom {
  border-radius: 30px;
}

.Stats {
  width: 230px;
  text-align: left;
}

.player-turn, .computer-turn {
  text-decoration: underline;
  color: #DAA520;
}

.Reset {
  width: 110px;
  text-align: right;
}

.Box {
  height: 118px;
  width: 118px;
  font-size: 5em;
}

.box-win {
  background: -moz-radial-gradient(center, ellipse cover, rgba(218,165,32,0) 50%, rgba(218,165,32,0) 56%, rgba(218,165,32,0.8) 60%, rgba(218,165,32,0) 64%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(218,165,32,0) 50%,rgba(218,165,32,0) 56%,rgba(218,165,32,0.8) 60%,rgba(218,165,32,0) 64%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(218,165,32,0) 50%,rgba(218,165,32,0) 56%,rgba(218,165,32,0.8) 60%,rgba(218,165,32,0) 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00daa520', endColorstr='#00daa520',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.Move {
  height: 117px;
  width: 117px;
}

.border-left {
  border-left: thick solid rgba(255, 255, 255, 0.6);
}

.border-right {
  border-right: thick solid rgba(255, 255, 255, 0.6);
}

.border-bottom {
  border-bottom: thick solid rgba(255, 255, 255, 0.6);
}

.border-top {
  border-top: thick solid rgba(255, 255, 255, 0.6);
}

.Footer {
  width: 100%;
  margin: auto auto 0 auto;
  padding: 0.5% 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 500px) {
  .Footer {
    font-size: 0.5em;
  }
}
